{% extends "membership/profile/base.html" %}
{% load util_tags %}
{% load bootstrap4 %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url 'membership:profile-basic-info' %}">Profile</a></li>
  <li class="breadcrumb-item active" aria-current="page"></li><span>Basic Info</span>
{% endblock %}

{% block tab_content %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="id_username">Username</label>
      <div class="col-md-10">
        <input class="form-control" id="id_username" maxlength="30" name="username" type="text"
               value="{{ object.username }}" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="id_email">E-mail</label>
      <div class="col-md-10">
        <input class="form-control" id="id_email" maxlength="30" name="email" type="text"
               value="{{ object.email }}" readonly>
      </div>
    </div>

    {% bootstrap_form form layout='horizontal' form_group_class='form-group row' horizontal_label_class='col-md-2' field_class='col-md-10' %}
    <hr>
    <div class="form-group row">
      <label class="col-md-2 col-form-label form-control-label"></label>
      <div class="col-md-10">
        <button type="submit" class="btn btn-primary" name="submit">Save</button>
        <a class="btn btn-secondary" href="{% url 'membership:index' %}">Cancel</a>
        <div class="float-right">
          <a class="btn btn-warning" href="{% url 'membership:change-password' %}"><span class="fa fa-key"></span>
            Change Password</a>
        </div>
      </div>
    </div>

  </form>

{% endblock %}
