{% extends "membership/base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load util_tags %}
{% load static %}


{% block extra_css %}
  <link href="{% static 'dj/css/bootstrap4-toggle.css' %}" rel="stylesheet">
  <link href="{% static 'dj/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet">
  <style>

    .event-listing:hover {
      color: #D60B30
    }

    .event-listing:hover span {
      color: #D60B30;
      transition-duration: .2s;
      transition-timing-function: ease-in
    }

    .event-listing span {
      display: block;
    }

    .event-listing .event-heading {
      font-size: 18px;
      font-weight: 700;
      color: #031E41
    }

    .event-listing .event-date,
    .event-listing .event-info,
    .event-listing .event-location {
      font-size: 14px;
      color: #979797
    }

    .bottom-bordered {
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .bottom-bordered:last-child {
      border-bottom: none;
    }

    .event-title {
      font-size: large;
      font-weight: bold;
    }

    .event-date {
      display: inline-flex;
      font-size: medium;
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }

    .pagination {
      display: inline-flex;
    }

    .page-range {
      display: inline;
      width: auto;
      margin-left: 10px;
    }

    #event_table {
      max-height: 300px;
      overflow-y: auto;
    }

  </style>

{% endblock %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">Events</li>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Event List</h4>
      <div class="row mt-3">
        <div class="col-1 text-right">
          <span style="vertical-align: sub">From:</span>
        </div>
        <div class="col-3 text-left">
          <div class="form-group">
            <div class="input-group date" id="from_date" data-target-input="nearest">
              <input type="text" id="from_date_input" class="form-control datetimepicker-input" data-target="#from_date"/>
              <div class="input-group-append" data-target="#from_date" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 text-right">
          <span style="vertical-align: sub">To:</span>
        </div>
        <div class="col-3 text-left">
          <div class="input-group date" id="to_date" data-target-input="nearest">
              <input type="text"id="to_date_input"  class="form-control datetimepicker-input" data-target="#to_date"/>
              <div class="input-group-append" data-target="#to_date" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
        </div>
        <div class="col-3 text-center">
          <input type="button" class="btn btn-large btn-info" value="Search" id="search_date_btn"/>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="container">
        <div class="row mt-3">
          <div class="col-md-12 text-right">
            <input id="toggle_map" type="checkbox" checked data-toggle="toggle">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6" id="events_container">
            <input type="text" class="form-control" id="search_input" placeholder="Search..."/>
            <div class="row" id="event_table"></div>
          </div>
          <div class="col-md-6" id="events_map">
            <img id="events_map" src="{% static '/dj/images/World_map_-_low_resolution.svg' %}" class="img-fluid">
          </div>
        </div>
        <div class="row mt-3">
          <div class="paging-container" id="table_paging"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'dj/js/moment.js' %}"></script>
  <script src="{% static 'dj/js/utils.js' %}"></script>
  <script src="{% static 'dj/js/pagination.js' %}"></script>
  <script src="{% static 'dj/js/bootstrap4-toggle.min.js' %}"></script>
  <script src="{% static 'dj/js/tempusdominus-bootstrap-4.min.js' %}"></script>

  <script type="text/javascript">
      function showEvents(events, page_size = 1, page_index = 1) {
          // Fill event page
          let start = page_size * (page_index - 1);
          let end = start + page_size;
          $('#event_table').empty();
          $(events).each(function (index) {
              if (index >= start && index < end) {
                  let start_date = moment(this["start_date"]).format("dddd, MMMM Do YYYY");
                  let end_date = moment(this["end_date"]).format("dddd, MMMM Do YYYY");
                  // Add event div
                  $('#event_table').append("<div class='col-md-12 eventCell event-listing eventRow bottom-bordered mt-3'>");
                  let eventDiv = $('.eventCell:last');
                  // Add event name
                  eventDiv.append("<div class='row'><div class='col-md-12 eventTitle'>"
                      + this["name"] + "</div></div>");
                  // Add event start/end date
                  eventDiv.append("<div class='row'><div class='col-md-12 event-date'><span id='fromDate'>"
                      + start_date + '</span>&nbsp-&nbsp<span id=\'toDate\'>'
                      + end_date + "</span></div></div>");
                  // Add event location
                  eventDiv.append("<div class='row'><div class='col-md-12 eventLocation'>"
                      + this["location"] + "</div></div>");
                  $('.eventRow:last').append("</div>");
              }
          })
      }

      function getEvents(params) {
          let eventUrl = "{% url 'membership_rest_api:event-list' 'v1' %}";
          return $.get(eventUrl, params);
      }

      function initPagination(events) {
          Pagination('#table_paging', {
              itemsCount: events.length,
              currentPage: 1,
              pageRange: [10, 20, 30, -1],
              pageSize: 10,
              onPageChange: function (paging) {
                  showEvents(events, paging.pageSize, paging.currentPage);
              },
              onPageSizeChange: function (paging) {
                  paging.currentPage = 1;
                  showEvents(events, paging.pageSize, paging.currentPage);
              }
          });
      }

      $(document).ready(
          (function () {
              let events = [];
              $('#from_date').datetimepicker({
                  format: 'YYYY-MM-DD'
              });
              $('#to_date').datetimepicker({
                  format: 'YYYY-MM-DD'
              });

              getEvents({'page_size': '0'})
                  .done(function (data) {
                      events = data.results;
                      initPagination(events);
                  });

              $('#toggle_map').change(function () {
                  let mapState = ($(this).prop('checked'))
                  let eventsContainer = $('#events_container');
                  let eventRows = $('.eventRow');
                  if (mapState === true) {
                      eventsContainer.removeClass('col-md-12');
                      eventsContainer.addClass('col-md-6');
                      eventRows.removeClass('col-md-6');
                      eventRows.addClass('col-md-12');
                      $('#events_map').slideDown();
                  } else {
                      $('#events_map').slideUp(function () {
                              eventsContainer.removeClass('col-md-6');
                              eventsContainer.addClass('col-md-12');
                              eventRows.removeClass('col-md-12');
                              eventRows.addClass('col-md-6');
                          }
                      );
                  }
              });

              // On Search event by name
              let previousTimeout = undefined;
              $("#search_input").on("keyup paste", function () {
                  // Debounce search request
                  if (previousTimeout) {
                      clearTimeout(previousTimeout);
                  }
                  previousTimeout = setTimeout(function () {
                      const searchValue = $("#search_input").val();
                      let filteredEvents = events.filter(function (event) {
                          if (!searchValue || searchValue.length === 0) {
                              return true
                          }
                          return event.name.indexOf(searchValue) >= 0
                      });
                      initPagination(filteredEvents);
                  }, 500);
              });

              // On Search event by from/to date
              $("#search_date_btn").on("click", function () {
                  const fromDate = $("#from_date_input").val();
                  const toDate = $("#to_date_input").val();
                  getEvents({'start_date_min': fromDate, 'end_date_max': toDate})
                      .done(function (data) {
                          events = data.results;
                          initPagination(events);
                      });

              });
          }())
      );

  </script>

{% endblock extra_js %}
