{% extends "membership/base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load util_tags %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'dj/css/full-calendar.css' %}" rel='stylesheet'/>
  <link href="{% static 'dj/css/full-calendar-daygrid.css' %}" rel='stylesheet'/>
  <link href="{% static 'dj/css/full-calendar-list.css' %}" rel='stylesheet'/>
  <link href="{% static 'dj/css/full-calendar-time.css' %}" rel='stylesheet'/>

  <style>

  </style>

{% endblock extra_css %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">Events Calendar</li>
{% endblock %}


{% block content %}
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Event Calendar</h4>
    </div>
    <div class="card-body p-0">
      <div class="container">
        <div class="row mt-3">
          <div class="col">
            <div id='calendar'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'dj/js/full-calendar-core.js' %}"></script>
  <script src="{% static 'dj/js/full-calendar-daygrid.js' %}"></script>
  <script src="{% static 'dj/js/full-calendar-list.js' %}"></script>
  <script src="{% static 'dj/js/full-calendar-time.js' %}"></script>

  <script>

      function getEvents(params) {
          let eventUrl = "{% url 'membership_rest_api:event-list' 'v1' %}";
          return $.get(eventUrl, params);
      }

      let events = [];
      $(document).ready(function () {
          getEvents({'page_size': '0'})
              .done(function (data) {
                  $(data.results).each(function (index, event) {
                      events.push({"title": (event.name), "start": (event.start_date), "end": (event.end_date)});
                  });
                  let calendar = new FullCalendar.Calendar(calendarEl, {
                      plugins:  [ 'dayGrid', 'timeGrid', 'list'],
                      timeZone: 'UTC',
                      defaultView: 'dayGridMonth',
                      header: {
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek,listWeek'
                      },
                      titleRangeSeparator: ' - ',
                      eventLimit: true,
                      events: events
                  });
                  calendar.render();
              });
          let calendarEl = document.getElementById('calendar');
      });
  </script>
{% endblock extra_js %}