{% extends "membership/base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url 'membership:profile-basic-info' %}">Profile</a></li>
  <li class="breadcrumb-item active" aria-current="page"></li><span>Change Password</span>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Change Your Password</h4>
    </div>
    <div class="card-body">
      <form class="form-horizontal" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' form_group_class='form-group row' horizontal_label_class='col-md-2' %}
        <hr>
        <div class="form-group">
          <label class="col-md-2 control-label"></label>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary" name="submit">Save</button>
            <a class="btn btn-secondary" href="{% url 'membership:profile-basic-info' %}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
